html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #FAFAFA;
    min-width: 600px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: #0000CC;
}

a:hover {
    text-decoration: underline;
}

#tms-link {
    position: fixed;
    align-self: flex-start;
    width: 15%;
    margin-top: 10px;
}

#tms-logo {
    width: 100%;
}

header {
    width: 70%;
    margin-top: 10px;
}

.content {
    flex: 1 0;
    width: 70%;
    margin: 10px 0;
}

.index-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.index-container form {
    width: 100%;
}

.search-container {
    display: flex;
    height: 40px;
}

.search-container input {
    font-size: 20px;
}

.search-box {
    flex-basis: 70%;
    padding: 5px;
    margin-right: 5px;
}

.submit {
    flex-grow: 1;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.submit:hover {
    background-color: white;
    color: black;
}

#tmdb-link {
    align-self: flex-end;
    margin-top: 5px;
}

#tmdb-img {
    width: 100px;
}

.result-stats {
    margin-bottom: 10px;
}

#total-results {
    float: right;
}

.result-item {
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
}

.result-item div {
    padding-left: 10px;
}

.overview {
    font-style: italic;
}

.overview span {
    font-style: normal;
}

.page-control {
    margin-top: 10px;
}

button {
    height: 40px;
    width: 120px;
    border: 2px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

#next {
    float: right;
}

.details {
    display: flex;
    margin: 10px 0;
}

.details img {
    margin-right: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.info h1 {
    text-align: center;
}

.info div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#imdb {
    width: 100px;
    height: 50px;
}

#overview {
    align-self: flex-start;
}

footer {
    flex-shrink: 0;
    align-self: stretch;
    background-color: black;
    color: white;
    padding: 10px;
}

.disclaimer-right {
    float: right;
}

#footer2 {
    display: none;
}

footer:hover #footer1 {
    display: none;
}

footer:hover #footer2 {
    display: inline;
}