html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    flex: 1 0;
    width: 80%;
    border: 1px solid black;
}

.result-item {
    border: 1px solid grey;
}

footer {
    flex-shrink: 0;
    align-self: stretch;
    background-color: black;
    color: white;
}

footer #tmdb {
    float: right;
}