{% extends 'header.html' %}

{# Movie details page #}

{% block title %}
{{ details['title'] }} - 
{% endblock title %}

{% block content %}

<div class="details">
    {% if details['poster_path'] %}
    <img src="https://image.tmdb.org/t/p/w342/{{ details['poster_path'] }}"
         alt="Poster for {{ details['title'] }}" />
    {% else %}
    <img src="http://via.placeholder.com/342x513/ABB2B9/FFFFFF?text=?"
         alt="Placeholder for {{ details['title'] }} poster" />
    {% endif %}
    <div class="info">
        <h1>{{ details['title'] }}</h1>
        <div>
            <p>
                Release Date:
                {% if details['release_date'] %}
                {{ details['release_date'] }}
                {% else %}
                Unknown
                {% endif %}
                <br />
                Runtime:
                {% if details['runtime'] %}
                {{ details['runtime'] }} minutes
                {% else %}
                Unknown
                {% endif %}
                <br />
                Genre(s):
                {% for genre in details['genres'] %}
                {{ genre['name'] }}
                {% endfor %}
            </p>
            {# Image link to IMDB page for the movie #}
            <a href="https://www.imdb.com/title/{{ details['imdb_id'] }}/" target="_blank">
                Explore on IMDb
            </a>
        </div>
        <p id="overview">{{ details['overview'] }}</p>
    </div>
</div>

{% endblock content %}