{% extends 'base.html' %}

{# Secondary base template for search and details pages adding a fixed logo link to
   the home page and a search box header #}

{% block logo %}
<a id="tms-link" href="{{ url_for('index.index') }}">
    <img id="tms-logo" src="{{ url_for('static', filename='logo-square.png') }}" alt="Search logo and link to index page" />
</a>
{% endblock logo %}

{% block header %}
<header>
    <form action="{{ url_for('search.search') }}" method="GET">
        <div class="search-container">
            <input class="search-box" name="query" value="{{ query }}" />
            <input type="hidden" name="page" value="1" />
            <input class="submit" type="submit" value="Search" />
        </div>
    </form>
</header>
{% endblock header %}